.categories_container {
	width: 25%;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	border-right: 2px solid black;
	padding-right: 1rem;
}

.categories_container h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

.categories_container button {
	width: 100%;
	text-align: center;
}

.categories_container button:active:hover {
	background-color: black !important;
	color: white;
}
@media (max-width: 600px) {
	.categories_container {
		width: 100%;
		border: none;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 0;
	}
	.categories_container .MuiToggleButtonGroup-root {
		display: flex;
		
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 14px !important;
	}

	.categories_container button {
		border-radius: 0;

		width: 80% !important;
		height: auto !important;
	}
}
