.card {
	min-height: 100%;
    margin: 1rem 0 0 1rem;
    border: 1.5px solid black;
    box-shadow: 5px 5px -5px rgba(0, 0, 0, 0.44);
}

.text-short {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.img-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

/* @media screen and (min-width: 768px) and (max-width: 992px) {
	.text-short {
		width: 500px;
	}
} */