.full-card {
	min-height: 100%;

	border: 1.5px solid black;
	box-shadow: 5px 5px -5px rgba(0, 0, 0, 0.44);
}

.full-card .text-short {
	overflow: auto;
	height: calc(1.2em * 6);
	line-height: 1.2em;
	width: 100%;
	cursor: default;
}

.full-card .img-and-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
	cursor: default;
}
.full-card .description-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;

	max-height: 200px;
	height: 100%;
	cursor: default;
}
.full-card .description-content {
	overflow-y: auto;
	display: flex;
}

.full-card .card-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50%;

	width: 50%;
	height: 100%;
	overflow: hidden;
}

.full-card .item-image {
	object-fit: contain;
}

.full-card .action-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem !important;
}



.full-card .card-button {
	background-color: black !important;
	color: white !important;
	padding: 16px !important;
	margin: 0;
	box-shadow: 2px 2px -2px rgba(0, 0, 0, 0.44);
}

.full-card .card-button:hover {
	background-color: rgba(10, 14, 10, 0.68) !important;
	box-shadow: 4px 4px -4px rgba(0, 0, 0, 0.44);;
}

@media screen and (max-width: 600px) {
	.card {
		margin: 1rem 0 0 0;
	}
}
