.grid-content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

.home-page_main {
	padding: 0 4%;
}

.main_items {
	width: 75%;
	max-height: 100%;
	height: auto;
	padding-bottom: 1.5rem;
}

.main_filters-and_items {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid black;
}

.search-results_count {
	display: flex;
	justify-content: flex-start;
	padding: 1rem;
	color: white;
	background-color: black;
}

.search-results_count h5 {
	padding: 0;
	margin: 0;
}

.item-image {
	width: 160px;
	height: 160px;
}

@media screen and (min-width: 768px) {
	.grid-content {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}
}

@media screen and (min-width: 1200px) {
	.grid-content {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}
}

@media screen and (max-width: 600px) {
	.main_filters-and_items {
		flex-direction: column;
		border: none;
	}
	.main_items {
		width: 100%;
	}
}
