.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #282c34;
	color: white;
	height: 76px;
	/* width: auto; */
	max-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	padding: 0 4%;
}

.nav-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 76px;
	width: 76px;
	flex-basis: 7%;
	cursor: pointer;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-transform: uppercase;
}
.header-container h1 {
	font-weight: 300;
}
.cart-icon-container {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0 4% 0 0;
	}
	/* .header-container {
		flex-grow: 0;
	} */
}
