.item-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
		border-radius: 5px;
	border: rgba(0, 128, 0, 0.714) 2px solid;
	box-shadow: 2px 3px 3px rgba(0, 128, 0, 0.47);
	outline: none;
	width: auto;
	max-width: 50%;
	max-height: 90vh;
	overflow-y: auto;
}

@media screen and (max-width: 768px) {
	.item-modal {
		max-width: 90%;
	}
}
