footer {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	gap: 1rem;

}

footer p {
	margin: 0;
}

.footer_logo-container {
	height: 26px;
	width: 26px;

	display: flex;
	justify-content: center;
	align-items: center;
}
